<dx-validation-group #validationGroup>
  <dx-scroll-view
    height="'auto'%"
    width="100%"
    class="view-wrapper-scroll single-card"
  >
    <app-card-auth [title]="'ResetPassword' | translate">
      <form (submit)="onSubmit($event)">
        <dx-form [formData]="formData" [disabled]="loading">
          <dxi-item>
            <span>{{ "CreateNewPasswordText" | translate }}</span>
            <div class="strong-pass-warning" id="strong-pass-warning">
              <i class="dx-icon dx-icon-warning"></i>
              {{ "StringPasswordText" | translate }}
            </div>

            <dx-tooltip
              target="#strong-pass-warning"
              showEvent="mouseenter"
              hideEvent="mouseleave"
              position="bottom"
              [hideOnOutsideClick]="false"
            >
              <div class="password-rules"
                [innerHtml]="'PasswordRules' | translate"
                *dxTemplate="let data = data; of: 'content'"  
              ></div>
            </dx-tooltip>
          </dxi-item>

          <dxi-item>
            <password-text-box
              stylingMode="filled"
              [(value)]="formData['password']"
              (valueChanged)="onNewPasswordChanged()"
              [label]="'Password' | translate"
            ></password-text-box>
          </dxi-item>

          <dxi-item>
            <password-text-box
              #confirmField
              stylingMode="filled"
              [(value)]="formData['confirmedPassword']"
              [validators]="confirmPasswordValidators"
              [label]="'ConfirmPassword' | translate"
              (valueChanged)="onFieldChanged()"
            >
            </password-text-box>
          </dxi-item>

          <dxi-item itemType="button">
            <dxo-button-options
              width="100%"
              type="default"
              [useSubmitBehavior]="true"
              [template]="'changePasswordTemplate'"
              [disabled]="isSaveDisabled"
            >
            </dxo-button-options>
          </dxi-item>

          <ng-container *dxTemplate="let item of 'changePasswordTemplate'">
            <div>
              <span class="dx-button-text">
                <ng-container *ngIf="loading; else notLoading">
                  <dx-load-indicator
                    width="24px"
                    height="24px"
                    [visible]="true"
                  ></dx-load-indicator>
                </ng-container>
                <ng-template #notLoading>{{
                  "Continue" | translate
                }}</ng-template>
              </span>
            </div>
          </ng-container>
        </dx-form>
      </form>
    </app-card-auth>
  </dx-scroll-view>
</dx-validation-group>
