
.dx-scrollview-content {
  height: 100%;
}

.link-container{
  color: var(--dx-magnar-blue);
  font-size: 16px;
  text-align: center;
  font-weight: 500;

  .link{
    text-decoration: none;
  }

  .link:hover{
    text-decoration: underline;
  }
}