dx-button {
  font-size: 16px !important;
}

.workspaces-block {
  padding: 10px 0;
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.workspaces-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  gap: 20px;
}

.workspaces {
  padding: 16px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
  cursor: pointer;
}

.workspace .name {
  cursor: pointer;
  color: var(--dx-magnar-blue);
}

.workspace-icon-container {
  display: flex;
  justify-content: center;
}

.workspace-name {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.workspace-icon-container div {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 25px #0000000d;
}

.fa-network-wired {
  font-size: 40px;
  padding-left: 3px;
  color: var(--dx-magnar-blue);
}

.menu-trigger{
  font-size: 16px;
}

.menu-trigger:hover {
  color: var(--dx-magnar-blue);
}
