<div class="page-container">
  <div style="width: 80%">
    <h3>{{ "AskAI" | translate }}</h3>
    <br />
    <form
      class="dashboard-generator-form"
      (submit)="onPromptSubmit($event)"
      method="post"
      action=""
    >
      <dx-form [colCount]="5" #dashboardGenerationForm [formData]="data">
        <!-- Description -->
        <dxi-item [colSpan]="5">
          <dx-text-area
            [(value)]="data.prompt"
            valueChangeEvent="input"
            stylingMode="filled"
            [height]="200"
            [placeholder]="'PlaceHolders.AskAIDescription' | translate"
          >
          </dx-text-area>
        </dxi-item>

        <dxi-item>
          <dx-button
            class="submit-btn"
            width="100%"
            stylingMode="contained"
            type="default"
            [useSubmitBehavior]="true"
            [disabled]="generateLoading"
          >
            <dx-load-indicator
              *ngIf="generateLoading"
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>

            <div *ngIf="!generateLoading">{{ "Execute" | translate }}</div>
          </dx-button>

          <dxo-label template="btnLabel"> </dxo-label>
        </dxi-item>

        <div *dxTemplate="let data of 'typeLabel'">
          <span>{{ "Type" | translate }}</span>
        </div>
        <div *dxTemplate="let data of 'btnLabel'">
          <span></span>
        </div>
      </dx-form>
    </form>
  </div>

  <div class="response-viewer-section" *ngIf="messages">
    <h3>{{ "Result" | translate }}</h3>
    <div>
      <div *ngFor="let msg of messages">
        <ng-container *ngIf="msg.content">
          <b>{{ msg.role }}:</b> {{ msg.content }}
        </ng-container>
      </div>

      <hr />
      <pre>{{ latest }}</pre>
    </div>
  </div>
</div>
