<dx-popup
  [title]="'Connection' | translate"
  [(visible)]="showPopup"
  [fullScreen]="!!(screen.xSmallScreenChanged | async)"
  [wrapperAttr]="{ class: 'create-connection-popup' }"
  (onHidden)="closePopup()"
  width="40%"
  height="auto"
  #popupRef
>
  <form
    class="create-connection-form"
    (submit)="onSubmit($event)"
    method="post"
    action=""
  >
    <dx-form
      [formData]="data"
      [disabled]="submitLoading"
      [colCount]="1"
      #createConnectionForm
    >
      <dxi-item
        [colCount]="1"
        dataField="isDefault"
        editorType="dxSwitch"
        [editorOptions]="{
          onText: 'ON' | translate,
          offText: 'OFF' | translate
        }"
      >
        <dxo-label template="defaultLabel"></dxo-label>
      </dxi-item>

      <div *dxTemplate="let data of 'defaultLabel'">
        <span>{{ "Default" | translate }}</span>
      </div>

      <dxi-item itemType="group" [colSpan]="2" [colCount]="2">
        <dxi-item
          dataField="name"
          editorType="dxTextBox"
          [editorOptions]="{
        stylingMode: 'filled',
        mode: 'text',
        inputAttr: { autocomplete: 'name' },
      }"
          cssClass="form-item"
        >
          <dxi-validation-rule
            type="required"
            [message]="'ValidationRules.RequiredField' | translate"
          ></dxi-validation-rule>
          <dxo-label template="nameLabel"></dxo-label>
        </dxi-item>

        <dxi-item>
          <dx-select-box
            class="custom-text"
            stylingMode="filled"
            [searchEnabled]="false"
            [(value)]="data.provider"
            displayExpr="nameTranslated"
            valueExpr="id"
            [items]="providerTypes"
          ></dx-select-box>

          <dxo-label template="providerLabel"></dxo-label>
          <dxi-validation-rule
            type="required"
            [message]="'ValidationRules.RequiredField' | translate"
          ></dxi-validation-rule>
        </dxi-item>
      </dxi-item>

      <div *dxTemplate="let data of 'providerLabel'">
        <span>{{ "Provider" | translate }}</span>
      </div>

      <div *dxTemplate="let data of 'nameLabel'">
        <span>{{ "Name" | translate }}</span>
      </div>

      <dxi-item itemType="group" [colSpan]="2" [colCount]="2">
        <dxi-item
          *ngIf="data?.provider === 1"
          dataField="details.sqlServerConfiguration.instanceName"
          editorType="dxTextBox"
          [editorOptions]="{
        stylingMode: 'filled',
        mode: 'text',
        inputAttr: { autocomplete: 'instanceName' },
      }"
          cssClass="form-item"
        >
          <dxi-validation-rule
            type="required"
            [message]="'ValidationRules.RequiredField' | translate"
          ></dxi-validation-rule>
          <dxo-label template="instanceNameLabel"></dxo-label>
        </dxi-item>

        <dxi-item
          *ngIf="data?.provider === 1"
          dataField="details.sqlServerConfiguration.databaseName"
          editorType="dxTextBox"
          [editorOptions]="{
        stylingMode: 'filled',
        mode: 'text',
        inputAttr: { autocomplete: 'databaseName' },
      }"
          cssClass="form-item"
        >
          <dxi-validation-rule
            type="required"
            [message]="'ValidationRules.RequiredField' | translate"
          ></dxi-validation-rule>
          <dxo-label template="databaseNameLabel"></dxo-label>
        </dxi-item>
      </dxi-item>

      <div *dxTemplate="let data of 'databaseNameLabel'">
        <span>{{ "DatabaseName" | translate }}</span>
      </div>

      <div *dxTemplate="let data of 'instanceNameLabel'">
        <span>{{ "InstanceName" | translate }}</span>
      </div>

      <dxi-item itemType="group" [colSpan]="2" [colCount]="2">
        <dxi-item
          *ngIf="data?.provider === 1"
          dataField="details.sqlServerConfiguration.username"
          editorType="dxTextBox"
          [editorOptions]="{
        stylingMode: 'filled',
        mode: 'text',
        inputAttr: { autocomplete: 'username' },
      }"
          cssClass="form-item"
        >
          <dxi-validation-rule
            type="required"
            [message]="'ValidationRules.RequiredField' | translate"
          ></dxi-validation-rule>
          <dxo-label template="usernameLabel"></dxo-label>
        </dxi-item>

        <dxi-item
          *ngIf="data?.provider === 1"
          dataField="details.sqlServerConfiguration.password"
          editorType="dxTextBox"
          [editorOptions]="{
        stylingMode: 'filled',
        mode: 'text',
        inputAttr: { autocomplete: 'password' },
      }"
          cssClass="form-item"
        >
          <dxi-validation-rule
            type="required"
            [message]="'ValidationRules.RequiredField' | translate"
          ></dxi-validation-rule>
          <dxo-label template="passwordLabel"></dxo-label>
        </dxi-item>
      </dxi-item>

      <div *dxTemplate="let data of 'usernameLabel'">
        <span>{{ "Username" | translate }}</span>
      </div>

      <div *dxTemplate="let data of 'passwordLabel'">
        <span>{{ "Password" | translate }}</span>
      </div>

      <dxi-item itemType="group" [colSpan]="2" [colCount]="5">
        <dxi-item [colSpan]="2">
          <dx-button
            class="submit-btn"
            width="100%"
            stylingMode="contained"
            type="default"
            [useSubmitBehavior]="false"
            [disabled]="testConnLoading"
            (onClick)="testConnection()"
          >
            <dx-load-indicator
              *ngIf="testConnLoading"
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>

            <div *ngIf="!testConnLoading">
              {{ "TestConnection" | translate }}
            </div>
          </dx-button>
        </dxi-item>

        <dxi-item [colSpan]="2"><span></span></dxi-item>
        <dxi-item [colSpan]="1">
          <dx-button
            class="submit-btn"
            width="100%"
            stylingMode="contained"
            type="default"
            [useSubmitBehavior]="true"
            [disabled]="submitLoading"
          >
            <dx-load-indicator
              *ngIf="submitLoading"
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>

            <div *ngIf="!submitLoading">{{ "Submit" | translate }}</div>
          </dx-button>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</dx-popup>
