<div class="label" *ngIf="label !== ''" style="width: 100%; margin-bottom: 5px;">{{label | translate}}</div>

<dx-text-box
  class="fixed-height-textbox"
  valueChangeEvent="keyup input change"
  [value]="value"
  [stylingMode]="stylingMode"
  [placeholder]="placeholder"
  [mode]="isPasswordMode ? 'password' : 'text'"
  (valueChange)="onValueChange($event)"
>
  <dxi-button
    name="today"
    location="after"
    [options]="{
      visible: value?.length > 0,
      icon: isPasswordMode ? 'eyeopen' : 'eyeclose',
      hoverStateEnabled: false,
      activeStateEnabled: false,
      stylingMode: 'text',
      onClick: switchMode
    }"
  ></dxi-button>
  <dx-validator
    #validator
    [validationRules]="validators"
  ></dx-validator>
</dx-text-box>