<div class="main-dashboard-container">
  <div style="width: 80%">
    <h3>{{ "Dashboard" | translate }}</h3>
    <br />
    <form
      class="dashboard-generator-form"
      (submit)="onPromptSubmit($event)"
      method="post"
      action=""
    >
      <dx-form [colCount]="5" #dashboardGenerationForm [formData]="data">
        <!-- Description -->
        <dxi-item [colSpan]="5">
          <dx-text-area
            [(value)]="data.prompt"
            valueChangeEvent="input"
            [height]="200"
            [placeholder]="'PlaceHolders.DescribeDashboardPrompt' | translate"
          >
          </dx-text-area>
        </dxi-item>

        <dxi-item
          editorType="dxSelectBox"
          dataField="selectedChartType"
          [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'PlaceHolders.Select' | translate,
          items: chartTypes,
          displayExpr: 'name',
          valueExpr: 'id',
        }"
        >
          <dxo-label template="typeLabel">{{ "Type" | translate }}</dxo-label>
        </dxi-item>

        <dxi-item [colSpan]="4"></dxi-item>

        <dxi-item>
          <dx-button
            class="submit-btn"
            width="100%"
            stylingMode="contained"
            type="default"
            [useSubmitBehavior]="true"
            [disabled]="generateLoading"
          >
            <dx-load-indicator
              *ngIf="generateLoading"
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>

            <div *ngIf="!generateLoading">{{ "Generate" | translate }}</div>
          </dx-button>
        </dxi-item>

        <dxi-item>
          <dx-button
            class="submit-btn"
            width="100%"
            stylingMode="contained"
            type="default"
            [useSubmitBehavior]="false"
            (click)="onChangeDashboardType()"
            [disabled]="changeTypeLoading"
          >
            <dx-load-indicator
              *ngIf="changeTypeLoading"
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>

            <div *ngIf="!changeTypeLoading">
              {{ "ChangeType" | translate }}
            </div>
          </dx-button>
        </dxi-item>

        <div *dxTemplate="let data of 'typeLabel'">
          <span>{{ "Type" | translate }}</span>
        </div>
      </dx-form>
    </form>
  </div>

  <div class="dashboard-viewer-section">
    <dx-dashboard-control
      #dashboard
      [endpoint]="backendUrl"
      workingMode="Designer"
      (onBeforeRender)="onBeforeRender($event)"
    >
    </dx-dashboard-control>
  </div>
</div>
