<div class="main-dashboard-container page-container">
  <div style="width: 80%">
    <h3>{{ "Dashboard" | translate }}</h3>
    <br />
    <form
      class="dashboard-generator-form"
      (submit)="onPromptSubmit($event)"
      method="post"
      action=""
    >
      <dx-form [colCount]="5" #dashboardGenerationForm [formData]="data">
        <!-- Description -->
        <dxi-item [colSpan]="5">
          <dx-text-area
            [(value)]="data.prompt"
            valueChangeEvent="input"
            stylingMode="filled"
            [height]="200"
            [placeholder]="'PlaceHolders.DescribeDashboardPrompt' | translate"
          >
          </dx-text-area>
        </dxi-item>

        <dxi-item>
          <dx-select-box
            [items]="chartTypes"
            [(value)]="data['selectedChartType']"
            [placeholder]="'PlaceHolders.Select' | translate"
            (onValueChanged)="onChangeDashboardType()"
            stylingMode="filled"
            displayExpr="nameTranslated"
            valueExpr="id"
          >
            >
          </dx-select-box>
          <dxo-label [visible]="true" template="typeLabel"></dxo-label>
        </dxi-item>

        <dxi-item>
          <dx-button
            class="submit-btn"
            width="100%"
            stylingMode="contained"
            type="default"
            [useSubmitBehavior]="true"
            [disabled]="generateLoading"
          >
            <dx-load-indicator
              *ngIf="generateLoading"
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>

            <div *ngIf="!generateLoading">{{ "Generate" | translate }}</div>
          </dx-button>

          <dxo-label template="btnLabel"> </dxo-label>
        </dxi-item>

        <div *dxTemplate="let data of 'typeLabel'">
          <span>{{ "Type" | translate }}</span>
        </div>
        <div *dxTemplate="let data of 'btnLabel'">
          <span></span>
        </div>
      </dx-form>
    </form>
  </div>

  <div class="dashboard-viewer-section">
    <dx-dashboard-control
      #dashboard
      [endpoint]="backendUrl"
      workingMode="Designer"
      (onBeforeRender)="onBeforeRender($event)"
    >
    </dx-dashboard-control>
  </div>
</div>
